<body>
<h2>Please enter the following details</h2>
<%= form_for(@bbp_pull, :remote => true) do |f| %>
   <%= f.label :first_name, "First name" %>
   <%= f.text_field :first_name %>
    <br/>
       <%= f.label :last_name, "Last name" %>
   <%= f.text_field :last_name %>
    <br/>
       <%= f.label :destination_email, "EHR source" %>
    <%= collection_select :bbp_pull, :destination_email, @ehr_sites, :email, :name %>
    <br/>
    <%= f.check_box :use_for_research%>
    <%= f.label :use_for_research, "Check this box to allow the deidentified data to be used for research purpose" %>
    <br/>
   <%= f.submit "Send my information" %>
<% end %>
</body>